/*Import Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Define font for headings/titles */
@font-face {
    font-family: 'TAN Pearl';
    src: url('font/TAN-PEARL.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Custom colors*/
 :root {
    --amethyst: #C490CE;
     /* XpensePal colors */
     --primary-100: #800080;
     --accent: #FFE9FF;
     --neutral-100: #ffffff;
     --neutral-200: #F2EDED;
     --neutral-700: #262626;
     --neutral--800: #1F1D1D;
     --card-color: rgba(230, 230, 230, 0.25);
     --section-color: #fafafa;
     --border-color: #D3D3D3;
     --link-novisit: #19559A;
     --link-visited: #6F4285;
}

 * {
     margin: 0px 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    font-size: 1.12rem;
    color: var(--neutral--800);
} 

p, li {
    line-height: 2;
}

/* Main section */

main {
    box-sizing: border-box;
    border-left: 1px solid rgba(210, 209, 209, 0.5); 
    border-right: 1px solid rgba(210, 209, 209, 0.5);
}
.banner {
    box-sizing: border-box;
    border-left: 1px solid rgba(210, 209, 209, 0.5); 
    border-right: 1px solid rgba(210, 209, 209, 0.5);
    padding: 0 10px; 

}
/* Header image */
.banner-img {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.banner-img{
    width: 100%;
    margin: 0 auto;
}

/* Remove home heading from the document flow*/
 .hidden {
     display: none;
}

/* Divider */
.divider {
    height: 1px; 
    background-color: var(--neutral-200);
    width: 95%; 
    margin: 0 auto; 
    position: relative;
    top: 40px;
}

.divider1 {
    height: 1px; 
    background-color: var(--neutral-200);
    width: 95%; 
    margin: 0 auto; 
    position: relative;
    top: 45px;
}

strong {
    margin: 0;
}


h2 {
    font-family: 'TAN Pearl';
    padding-bottom: 30px;
    color: var(--primary-100);
    line-height: 1.7;
}

h3 {
    margin-left: 0px;
    margin-bottom: 10px;
    color: var(--primary-100);
    font-family: 'Tan Pearl';
}
        
  
#backToHome {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 50px; 
    z-index: 2; 
}


.old-cl {
    margin-top: -100px;
    width: 100%;
    margin-bottom: -180px;
}

.caption {
    font-size: 0.85rem;
    margin-left: 150px;
}

.cl-container-txt {
    padding: 20px; 
    margin-top: 90px;
}

.section-color {
    background-color: var(--section-color);
    padding-top: 40px;
    padding-bottom: 40px;
}

.full-width-image {
    width: 80%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.cl-comp-analysis {
    width: 60%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.user-persona {
    width: 60%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.padding-t {
    padding-top: 20px;
}

.padding-t1 {
    padding-top: 60px;
}

.mt {
    padding-top: 40px;
}

.border {
    border-left: 1px solid rgba(211, 211, 211, 0.5);
    border-right: 1px solid rgba(211, 211, 211, 0.5);
    /* background-color: green; */
    height: auto;
    margin-bottom: -100px;
    padding-bottom: 70px;
}
/* Scrollspy Navigation */
.spy-nav {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid rgba(210, 209, 209, 0.5); 
    border-right: 1px solid rgba(210, 209, 209, 0.5);
    border-bottom: 1px solid rgba(210, 209, 209, 0.5);
    background-color: var(--neutral-100);
    padding: 10px 0;
    max-width: 1260px; 
    width: 100%;
    z-index: 3;
    transition: top 0.3s;
    left: 115px;
}

.spy-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* Space above the circles */
    margin: 5px auto;
    padding: 0;
}

.spy-nav ul li {
    display: inline-block;
}

.spy-nav ul li a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.75rem;
    /* The text height inside the circle */
    line-height: 70px;
    background-color: var(--accent);
    color: var(--neutral-700);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Space between the circles */
    margin: 0 30px;
}

.spy-nav ul li a.active {
    background-color: var(--primary-100);
    color: var(--neutral-100);
}

.spy-nav ul li a:hover {
    background-color: var(--primary-100);
    color: var(--neutral-100);
}

/* Sticky Navigation */
.spy-nav.sticky {
    position: fixed;
    top: 0;
    /* Make sticky nav center page */
    margin-left: 10px;
    max-width: 1260px; 
}

#progress-indicator {
    position: absolute; /* Position the bar absolutely */
    bottom: 0; /* Align it to the bottom of the container */
    left: -10px;
    height: 6px;
    background-color: var(--primary-100);
    width: 0;
    transition: width 0.25s ease-out;
}

.padding-b {
    margin-bottom: 20px;
}
.center {
    width: 70%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.center-video {
    width: 90%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

/* Divider */
.divider {
    height: 1px; 
    background-color: var(--neutral-200);
    width: 95%; 
    margin: 0 auto; 
    position: relative;
    top: 70px;
}

.user-flow {
    width: 58%;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
    padding: 20px;
}

.wireframe {
    width: 80%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.cl-usability-test {
    width: 60%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
}

.link:link {
    color: var(--link-novisit);
    margin: 7px;
}

.link:visited {
    color:var(--link-visited);
}

/* Key learnings */
.key-section-color {
    background-color: var(--section-color);
    padding: 40px 0; 
    margin-bottom: 0; 
}

.learnings-list {
    list-style-type: disc;
    padding-left: 20px;
}

.learnings-list li {
    margin-bottom: 15px; /* Space between bullet points */
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.cl-spacing {
    height: 80px;
}
/* Footer */
#footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    max-width: 1280px; 
    margin: 0 auto; /* Changed from -30px to 0 to avoid overlap */
    box-sizing: border-box;
    border-top: 1px solid rgba(210, 209, 209, 0.5);
    border-left: 1px solid rgba(210, 209, 209, 0.5); 
    border-right: 1px solid rgba(210, 209, 209, 0.5);
    padding: 20px; 
    padding-top: 20px; /* Optional: Adjust this as needed */
    padding-bottom: 20px; /* Optional: Adjust this as needed */
}


small {
    font-size: 0.76rem;
}

#current-year {
    margin-right: 5px;
    margin-left: 5px;
}

.contact-icons {
    display: flex;
    margin-left: 270px;
}

.contact-icons a {
    font-size: 24px;
    padding-right: 70px;
    transition: color 0.3s ease;
    color: var(--neutral-700);
}

.contact-icons a:hover {
    color: var(--amethyst);
}

