/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*Custom colors*/
 :root {
     --noir: #2d2d2d;
     --snow: #ffffff;
     --milk: #F3EEEE;
     --gray: #a3a3a3;
     --midnight: #1F203E;
     --aquamarine: #7FFFD4;
     --cottoncandy: #FB6EB5;
     --pink: #ffc0cb;
     --highlight: #A0FFF0;
     --magenta: #dc86cb;
     --lavender: #948CB2;
     --barbie: #FE5392;
    /* Light mode color*/
     background-color: var(--milk);
}
 * {
     margin: 0px 10px;
}
 html, body {
     max-width: 1280px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     font-size: 1.125rem;
     font-family: "Lato";
}
/* Navigation*/
 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 10px;
    /* Glassmorphism */
     box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
     background: rgba(255, 255, 255, 0.2);
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(5px);
}
 .unicorn {
     margin: 0px 0px -6px 0px;
     width: 100px;
     margin-left: 50px;
}
 .menu-tabs {
     display: flex;
     justify-content: flex-end;
     font-family: "Lato";
     font-weight: 300;
}
 .menu-tabs a {
     text-decoration: none;
     position: relative;
}
 ul {
     display: flex;
     margin-right: 210px;
     list-style: none;
     gap: 20px;
     margin: 0;
     padding: 0;
}
 ul li {
     margin: 0;
     padding: 0;
}
 ul a {
     text-decoration: none;
     color: var(--noir);
}
/* Set underline */
 .menu-tabs a::after {
     content: "";
     position: absolute;
     width: 0;
     height: 3px;
     bottom: -9px;
     left: 50%;
     transform: translateX(-50%);
     background-color: var(--barbie);
     transition: 0.3s;
}
 .menu-tabs a:hover::after{
     width: 100%;
}
 .dark-mode-theme .menu-tabs a::after {
     background-color: var(--highlight);
}
/* Dark mode | Light mode button */
 #dark-mode-btn {
     font-family: "Lato";
     padding: 0.35rem;
     font-size: 0.85rem;
     margin-top: -5px;
     border-radius: 5px;
     border: 2px solid var(--snow);
     transition: box-shadow 0.3s ease-in-out;
}
/* Dark mode | Light mode button on hover*/
 #dark-mode-btn:hover {
     cursor: pointer;
     opacity: 0.8;
     box-shadow: 0 0 5px var(--barbie), 0 0 5px var(--barbie);
}
 .dark-mode-theme #dark-mode-btn:hover {
     box-shadow: 0 0 5px var(--highlight), 0 0 5px var(--highlight);
}
/* Initial button margin for page load */
 .dark-mode-toggle {
     margin-right: 30px;
}
/* Length of dark mode theme */
 #dark-feature {
     width: 100%;
     height: 100%;
}
/* Set body and text color for dark mode */
 .dark-mode-theme {
     background-color: var(--midnight);
     color: var(--snow);
}
/* Set navbar text for dark mode */
 .dark-mode-theme .nav-text {
     color: var(--snow);
}
/* Set dark mode button color and margin for dark mode */
 .dark-mode-theme #dark-mode-btn {
     background-color: var(--midnight);
     color: var(--snow);
     margin-right: 30px;
}
/* Main section */
 main, footer {
     cursor: default;
}
 section {
     margin-bottom: 20px;
     padding: 40px;
    /* Glassmorphism */
     box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
     border-radius: 5px;
     background: rgba(255, 255, 255, 0.1);
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     border-left: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(5px);
}
/* Remove home heading from the document flow*/
 .hidden {
     display: none;
}
 #hero {
    /* background-color: purple;
     */
     border-radius: 0 0 5px 5px ;
     border-top: 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
     padding: 100px 65px 500px 65px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
/* Hero section's background video */
 .background-video {
     position: absolute;
     top: 0;
     left: -10px;
     width: 100%;
     height: 100%;
     border-radius: 0 0 5px 5px;
     object-fit: cover;
}
 #greeting-layout {
     font-family: "Francois One";
     width: 500px;
     position: relative;
     top: 90px;
     font-size: 3.2rem;
     font-weight: bold;
     box-shadow: none;
     border-radius: 0px;
     background: transparent;
     border: none;
     backdrop-filter: none;
}
 #greeting-switch {
     position: absolute;
     left: 35px;
     bottom: -27px;
}
 .underline {
     position: absolute;
     top: 110px;
     left: 37px;
     width: 170px;
     height: 8px;
     background-color: var(--aquamarine);
}
 .fixed-height {
     height: 15px;
}
 #developer-name {
     position: absolute;
     left: 230px;
}
 .developer-info {
     font-family: "Lato";
     position: absolute;
     top: 330px;
     font-size: 1.5rem;
     text-align: center;
     z-index: 2;
     line-height: 1.6;
}
/* Tooltip */
 .unicorn-definition {
     border-bottom: 7px dotted aquamarine;
     cursor: help;
}
 #arrow-switch {
     z-index: 2;
     position: absolute;
     top: 480px;
     height: 90px;
    /* Animate down arrow */
     animation: upDown 2s infinite alternate;
}
/* Set arrow position */
 @keyframes upDown {
     from {
         top: 480px;
    }
     to {
         top: 530px;
    }
}
/* Projects section */
 #projects h2 {
     padding: 30px 0px 50px 0px;
}
 #projects figcaption {
     font-weight: 800;
}
 #projects figcaption, #projects p, .project-btn {
     margin-left: 30px;
     line-height: 1.5;
}
 .attribution {
     color: var(--gray);
}
 .multiple-items img {
     position: relative;
     margin: 0 auto;
     width: 90%;
     padding: 10px 0px;
}
.project-btn {
    text-decoration: 4px underline var(--aquamarine);
    color: var(--noir);
    font-weight: 600;
}
.project-btn:hover {
    color: var(--barbie);
}
.dark-mode-theme .project-btn {
    color: var(--snow);
}
.dark-mode-theme .project-btn:hover {
    color: var(--barbie);
}
/* Slideshow arrows light mode color and general size */
 button.slick-next.slick-arrow::before, button.slick-prev.slick-arrow::before {
     color: var(--lavender);
     font-size: 35px;
     cursor: pointer;
}
/* Slideshow light mode hover */
 button.slick-next.slick-arrow:hover::before, button.slick-prev.slick-arrow:hover::before {
     color: var(--pink);
}
/* Slideshow arrows dark mode color*/
 .dark-mode-theme button.slick-next.slick-arrow::before, .dark-mode-theme button.slick-prev.slick-arrow::before {
     color: var(--snow);
}
/* About section */
 #about h2 {
     padding-bottom: 40px;
     padding-top: 30px;
}
 #about p {
     line-height: 1.6;
}
 .italics {
     font-style: italic;
}
 .space {
     margin-top: 20px;
}
 .grid-container {
     display: grid;
     grid-template-columns: 2fr 2fr 1fr;
     grid-gap: 10px;
}
 .grid-item {
     padding: 10px;
}
 .grid-item.span-two {
     grid-column: 2 / span 3;
     padding: 10px;
     margin-top: -120px;
}
 .candy {
     color: var(--cottoncandy);
}
 .highlight {
     background-color: var(--highlight);
}
 .frontend-portfolio {
     color: var(--magenta);
}
 .linkedIn-pic {
     width: 325px;
     border-radius: 5px;
     margin-top: 13px;
}
#fun-facts-lightmode {
    width: 250px;
    position: absolute;
    top: 520px;
    right: 105px;
    animation: rotate 5s linear infinite;
    cursor: pointer;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/* Position sticker container away from fun facts button */
#sticker-container img {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 900px;
}
/* Contacts */
 #contact {
     padding-top: 40px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(2, 1fr);
}
 #contact p {
     font-size: 1.3rem;
     font-weight: bold;
}
 .resume {
     grid-column: 2;
}
 .resume, .email, .linkedIn, .github {
     padding-left: 50px;
}
 .jobs {
     margin-top: 8px;
     grid-column: 3 / 6;
}
 .speech-bubbles {
     grid-column: 1;
     margin-top: -30px;
}
 #contact a {
     text-decoration: none;
     color: var(--noir);
     cursor: pointer;
}
 #contact a:hover {
     text-decoration: 5px wavy underline var(--highlight);
     color: var(--barbie);
}
/* Set contact links for dark mode */
 .dark-mode-theme #contact a {
     color: white;
}
 #back-to-top {
     display: none;
     position: fixed;
     z-index: 1;
     font-family: "Francois One";
     font-size: 1rem;
     letter-spacing: 1px;
     bottom: 80px;
     right: 20px;
     padding: 8px 15px;
     border: none;
     border-radius: 5px;
     background-color: var(--barbie);
     color: var(--snow);
     cursor: pointer;
}
 #back-to-top:hover {
     opacity: 0.8;
}
/* Footer */
 footer {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 20px;
     margin-right: 20px;
     padding: 15px 0px;
    /* Glassmorphism */
     box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
     background: rgba(255, 255, 255, 0.3);
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(5px);
}