/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --ash-gray: #757575;
    --navy: #053E95;
    --ice: #ECF2F6;
    --white: #ffffff;
    --midnight: #1A2334;
    --lilac: #C599DE;
    --steel: #babecc;
    --snow: #ffffff73;
    --dark-gray: #595959;
    --grayish: #dde1e7;
    --silver: #eee;
    --milk: #f5f5f5;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: 'Nunito', sans-serif;
    color: var(--midnight);
    background-color: var(--ice);
}

header {
    color: var(--midnight);
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--midnight);
    margin-left: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.universe {
    width: 20px;
    margin-top: 0.375rem;
    margin-left: 0.188rem;
}

/* Menu links */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.menu { 
    display: flex;
}

.menu a {
    text-decoration: none;
    color: var(--midnight);
    padding: 0.5rem 1rem;
    margin-right: 30px;
}

.menu a:hover {
    color: var(--lilac);
    transition: color 0.3s;
}

.burger {
    font-size: 2.313rem;
    cursor: pointer;
    display: none;
    margin-right: 0.938rem;
}

/* Main section */
main {
    display: flex;
    flex: 1; /* Expand main section to fill available space */
     background-color: var(--ice);
}

section.center {
    flex: 1;
    padding: 1.25rem;
}

/* Hero text */
.hero-text { 
    position: relative;
    margin-top: 0;
    padding-top: 130px;
    padding-bottom: 50px;
}

.chativerse {
    text-align: center;
    font-size: 4.375rem;
    font-weight: 900;
 }
 
 h2{
     text-align: center;
     font-size: 2.375rem;
     font-weight: 900;
 }

/* Footer */
footer {
    background-color: var(--white); 
    color: var(--midnight); 
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Push footer to the bottom */
}

footer a {
    color: var(--navy);
}

i {
    font-size: 1.25rem;
    padding: 0rem 0.313rem;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--midnight);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }

    /* Make menu links expand to container's entire width. Hover will fill container */
    .menu li {
        width: 100%;
        text-align: center;
    }

    .menu a {
        width: 100%;
        box-sizing: border-box;
        padding: 0.938rem 0rem; /* Adjusted padding */
        text-align: center;
        text-decoration: none;
        color: var(--white);
        background-color: transparent;
        transition: background-color 0.3s;
        display: block;
    }

    /* Change background color on hover */
    .menu li:hover a {
        background-color: var(--lilac);
        color: var(--white);
    }

    .burger {
        display: block;
    }
}

